---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import ReposList from "../components/ReposList.vue";
---

<Layout title="repos">
    <Container>
        <main>
            <h2>my github repos</h2>

            <div class="">

            </div>

            <ReposList client:load />
        </main>
    </Container>
</Layout>

<style>
    h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
</style>
