<footer>
    <div>
        <p>I use Arch btw!</p>
        <p>@2022</p>
    </div>
</footer>

<style>
    footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        bottom: 0;
        height: 7rem;
        width: 100%;
        background-color: var(--primary);
        color: #fff;
    }

    footer div {
        padding-inline: 4rem;
    }

    p {
        margin-block: 1rem;
    }
</style>
